.schermata{
    display : none;
}

.selector{
    width : 200px;
    height : 50px;
    border-radius : 20%;
    margin : 5%;
    display : block;
    background-color: grey;
    text-align : center;
}

#schermata_1{
    display : inline;
}

#canvas{
    background-color:#fff;
    display:block;
    position:absolute;
    margin:auto;
    top:5px;
    left:5px;
    border:1px solid #ccc;
}
#canvas2{
    display:block;
    position:absolute;
    margin:auto;
    top:5px;
    left:5px;
    border:1px solid #ccc;
} 
#canvas3{
    display:block;
    position:absolute;
    margin:auto;
    top:5px;
    left:5px;
    border:1px solid #ccc;
}

#refl_container{
    position: absolute;
}

#RIR_canvas{
    background-color:#fff;
    display:block;
    position:absolute;
    margin:auto;
    top:5px;
    left:5px;
    border:1px solid #ccc;
}
#RIR_canvas2{
    background-color:#fff;
    display:block;
    position:absolute;
    margin:auto;
    top:5px;
    left:5px;
    border:1px solid #ccc;
}
#RIR_canvas3{
    display:block;
    position:absolute;
    margin:auto;
    top:5px;
    left:5px;
    border:1px solid #ccc;
}
.buttons{
    display:block;
}
.dinos{
    display:none;
}
#sfondo{
    object-fit: contain;
    height: 100%;
}
#img_container{
    display: inline-block;
    height: 100%;
}
#sel_container{
    display: inline-block;
    position: absolute;
}
.buttoncontainer{
    position:absolute;
    right: 50px;
}
.coord_input{
    width:45%;
    display:inline-block;
}